body {
  font-family: 'PT Sans', sans-serif;
  background: rgb(235, 235, 235);
}
ul.navbar {
  list-style-type: none;
  margin: 0 auto;
  background: #CCCCCC;
  border-radius: 5px;
  display:float;
  padding-top: 5px;
  padding-bottom: 5px;
}
ul.navbar li {
  padding: 5px;
  display: inline;
}
ul.navbar li:hover {
  background: #E9E9E9;
  cursor: pointer;
}
ul.navbar li > a:link {
  text-decoration: none;
  color: #8F8F8F;
}
ul.navbar li > a:visited {
  text-decoration: none;
  color: #8F8F8F;
}
table {
  width: 100%;
}
table td > select {
  width: 100%;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Search box for products */
.search-box {
  background: rgb(225, 225, 225);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(200, 200, 200);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.search-box label {
  display: inline-block;
  padding-left: 5px;
}
.search-box label, .search-box input, .search-box select {
  width: 24%;
}
.search-box input#name {
  width: 74%;
}

/* Delete button for cart */
.remove-btn {
  background: rgb(160, 90, 90);
  border-color: rgb(100, 10, 10);
  border-radius: 3px;
  color: rgb(250, 200, 200);
}
.remove-btn:active {
  background: rgb(140, 70, 70);
}

/* Message you get when the cart is empty */
.empty {
  text-align: center;
  margin: 40px;
  color: grey;
  font-style: italic;
}

/* Cart table... */
.cart-table {
  border-collapse: collapse;
}
.cart-table td {
  white-space: nowrap;
}
.cart-table td, .cart-table th {
  padding-left: 10px;
  padding-right: 10px;
}
.cart-table td:first-child {
  width: 100%;
}

.cart-table .last-elem td {
  padding-bottom: 15px;
}

.cart-table .subtotal :last-child,
.cart-table .tax :last-child,
.cart-table .total :last-child {
  border-right: 3px solid rgb(200, 200, 200);
}
.cart-table .total, .cart-table .subtotal, .cart-table .tax {
  border-right: 3px solid rgb(200, 200, 200);
  border-left: 3px solid rgb(200, 200, 200);
  background: rgb(225, 225, 225);
}
.cart-table .total {
  border-bottom: 3px solid rgb(200, 200, 200);
}
.cart-table .subtotal {
  border-top: 3px solid rgb(200, 200, 200);
}
.cart-table .purchase {
  margin-top: 8px;
}

.receipt {
  margin-top: 5px;
}

.receipt label { font-weight: 600; }
.receipt .items {
  background: rgb(225, 225, 225);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.receipt .items > div {
  margin: 5px;
}
