<br/>
<table class="cart-table" ng-if="items.length > 0">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Category</th>
      <th>Manufacturer</th>
      <th>Amount</th>
      <th>Price</th>

    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="item in items"
        ng-class='{"last-elem": $index == items.length - 1}'>
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.manufacturer }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price | currency}}</td>
      <td>
        <button class="remove-btn" ng-click="remove(item, $index)">X</button>
      </td>
    </tr>

    <tr class="subtotal">
      <td>Subtotal</td>
      <td></td><td></td><td></td>
      <td>{{subtotal | currency}}</td>
    </tr>

    <tr class="tax">
      <td>Tax</td>
      <td></td><td></td><td></td>
      <td>{{tax | currency}}</td>
    </tr>

    <tr class="total">
      <td>Total</td>
      <td></td><td></td><td></td>
      <td>{{total | currency}}</td>
    </tr>

  </tbody>
</table>
<h3 class="empty-cart" ng-if="items.length == 0">
  Cart empty
</h3>
